.mark1,
.mark2,
.mark3 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    z-index: 99;
}

.side-width {
    width: 230px;
    height: 100%;
    float: left;
}

.mask-right {
    position: relative;
    /* float: right; */
}

.mark1 button,
.mark2 button,
.mark3 button {
    position: absolute;
    width: 184px;
    height: 40px;
}

.fr button {
    position: relative;
}

.mark1 button {
    bottom: -26px;
    left: 200px;
}

.mark2 button {
    bottom: -76px;
    left: 250px;
}

.mark3 button {
    bottom: -26px;
    left: 370px;
}

.newhighlight {
    z-index: 999;
}

.tip1,
.tip2,
.tip3 {
    width: 400px;
    height: 96px;
    position: absolute;
    color: #fff;
    font-size: 16px;
}

.tip1 {
    bottom: 40px;
    left: 60px;
}

.tip2 {
    bottom: -10px;
    left: 100px;
}

.tip3 {
    bottom: 70px;
    left: 250px;
}

.img1 {
    position: absolute;
    width: 1111px;
    height: 390px;
    top: 270px;
    right: 180px;
    background: url(/static/bootpage/lead1.png) no-repeat center;
}

.img2 {
    position: absolute;
    width: 1111px;
    height: 390px;
    top: 200px;
    right: 300px;
    background: url(/static/bootpage/lead2.png) no-repeat center/contain;
}

.img3 {
    position: absolute;
    width: 1111px;
    height: 390px;
    top: 270px;
    right: 370px;
    background: url(/static/bootpage/lead3.png) no-repeat center/contain;
}