html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h3 {
    font-size: 18px;
    line-height: 50px;
    padding-left: 36px;
    font-weight: 500;
    box-shadow: 0 2px 15px #ececec
}

.temp {
    margin: 40px 28px 80px 36px
}

.temp>div {
    position: relative;
}

.fl {
    position: relative;
    float: left;
}

.fr {
    position: relative;
    float: right;
}

.handle2 .ivu-input-icon+.ivu-input {
    padding-left: 30px
}

.handle2 .ivu-input-icon {
    left: 0;
    top: 0;
}
.search{
    display: inline-block;
    position: relative;
}
.close{
    color: #333;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    text-align: center;
}



.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}


/* input */

/* .ivu-input {
    height: 34px
} */


/* 多选框 */
.ivu-checkbox-inner{
    border:1px solid #bdbdbd;
}

/* button */

.ivu-btn {
    font-size: 14px
}

.ivu-btn+.ivu-btn {
    margin-left: 8px;
    font-size: 14px
}


/* 下拉选择框 */

.linker-modal .ivu-select-dropdown {
    position: absolute !important;
}


/* modal */


/* 修改密码头部 */

.ivu-modal-header span {
    font-size: 18px
}

.ivu-modal-header .ivu-modal-header-inner {
    font-size: 18px;
    font-weight: normal;
}

.ivu-modal-content {
    border-radius: 3px;
}

.ivu-modal-body {
    font-size: 14px;
    padding: 20px 30px -10px;
}

.ivu-modal-footer {
    padding-right: 30px;
}

.ivu-modal {
    top: 50%;
}

.ivu-modal-content {
    transform: translateY(-65%);
}
.ivu-modal-header p, .ivu-modal-header-inner{
    font-weight: normal;
}
.ivu-modal-wrap {
    height: 100%;
}
/* select--hover */
.ivu-select-item:hover{
    background:#edf9ff;
    color:#03a9f4;
}
/* sidebar */
.ivu-menu-dark {
    z-index: 0;
    background-color: #232b3e;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu) {
    color: #363e4f;
    border-right: none;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
    background-color: #3a4f72!important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active[data-v-0cbe70e4]:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active[data-v-0cbe70e4]:not(.ivu-menu-submenu) {
    background-color: #3a4f72;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
    background-color: #232b3e;
}

.ivu-menu-vertical .ivu-menu-item,
.ivu-menu-vertical .ivu-menu-submenu-title {
    background-color: #232b3e;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):hover,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu):hover {
    background-color: #3a4f72!important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item:hover {
    background-color: #283956!important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover {
    background-color: #283956;
}

.ivu-menu-vertical .ivu-menu-item,
.ivu-menu-vertical .ivu-menu-submenu-title {
    padding: 14px 21px
}


/* table */


.ivu-table:after,
.ivu-table:before {
    z-index: 0
}

.ivu-table-fixed,
.ivu-table-fixed-right {
    z-index: 0
}

.ivu-table-small th {
    height: 40px;
}


/* 报错 */

.error {
    padding: 5px 0 0 80px;
}

.error p {
    color: #ff5e5e;
}

/* 输入框小字提示 */
.tip_{
    position: absolute;
    left: 0;
    top: 100%;
    line-height: 20px;
    color: #a3a3a3;
}
.ivu-form-item-error .tip_{
    display: none
}

/* 分配 */

.ivu-input-wrapper-small .ivu-input-icon {
    line-height: 34px
}

.ivu-transfer-list-body-with-search .ivu-transfer-list-content {
    padding: 0;
    margin-top: 10px
}


/* 表单*/

.ivu-form-item {
    margin-bottom: 0;
}

/* .ivu-form-item+.ivu-form-item {
    margin-top: 12px;
} */


/* icon */

.ivu-input-wrapper-small .ivu-input-icon {
    line-height: 24px;
}
/* button .ivu-icon{
  margin-right: 8px;
} */

.ivu-icon {
    vertical-align: middle;
}

.ivu-icon-ios-compose-outline,
.ivu-icon-ios-trash-outline {
    font-size: 18px;
}

.ivu-transfer-operation .ivu-btn+.ivu-btn {
    margin-left: 0;
}

.tableContent {
    position: relative;
    /* width: 1626px; */
}


/* page */
.page {
    margin-top: 20px;
    overflow: hidden;
}
.page ul{
    text-align: right;
}
.ivu-page-item-jump-next, .ivu-page-item-jump-prev, .ivu-page-next, .ivu-page-prev{
    float: none;
    display: inline-block;
}
.ivu-page-item{
    float: none;
    display: inline-block;
}
.ivu-page-options-sizer{
    margin-right: 0
}


.lefttotal{
    line-height: 32px;
    float: left;
}

/* 年月日表单 */

.temp2 {
    margin-top: 20px;
}

.selectpage {
    margin-top: 20px;
    float: left;
}


.ivu-date-picker {
    width: 160px;
}


/* loading */

.spin {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.ivu-spin{
    color: #333
}
.spin .ivu-spin-fix {
    background-color: rgba(255, 255, 255, .6);
}


/* 自定义图标 */

.ivu-icon-trash-a:before,
.ivu-icon-android-person:before,
.ivu-icon-plus:before,
.ivu-icon-reply:before,
.ivu-icon-forward:before {
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url(../images/3.png);
    background-repeat: no-repeat;
    transition: all .2s linear;
}

.ivu-icon-trash-a:before {
    background-position: 0 -6px;
}

.ivu-icon-android-person:before {
    background-position: -15px -6px;
}

.ivu-icon-plus:before {
    background-position: -30px -6px;
}

.ivu-icon-reply:before {
    background-position: -15px -20px;
}

.ivu-icon-forward:before {
    background-position: 0 -20px;
}

.ivu-icon-ios-calendar-outline:before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(../images/5.png) no-repeat 0 -6px;
    transition: all .2s linear;
}

.ivu-btn:hover .ivu-icon-trash-a:before,
.ivu-btn:hover .ivu-icon-android-person:before,
.ivu-btn:hover .ivu-icon-plus:before {
    background-image: url(../images/3after.png);
}

.ivu-icon-ios-play:before,.ivu-icon-android-arrow-down:before{
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(../images/5.png);
    background-repeat: no-repeat;
}
.ivu-icon-ios-play:before{
    background-position: -32px -6px;
}
.ivu-icon-android-arrow-down:before{
    background-position: -65px -6px;
}
.ivu-btn:hover .ivu-icon-ios-play:before{
     background-position: -48px -6px;
}   
.ivu-btn:hover .ivu-icon-android-arrow-down:before{
    background-position: -81px -6px;
}
.ivu-icon-ios-arrow-thin-left:before,
.ivu-icon-ios-arrow-thin-right:before{
    content: "";
    width: 16px;
    height: 5px;
    display: inline-block;
    transition: all .2s linear;
}
.ivu-icon-ios-arrow-thin-left:before{
    background: url(../images/left.png) no-repeat center;
}
.ivu-btn:hover .ivu-icon-ios-arrow-thin-left:before{
    background: url(../images/left-light.png) no-repeat center;
}
.ivu-icon-ios-arrow-thin-right:before{
    background: url(../images/right.png) no-repeat center;
}
.ivu-btn:hover .ivu-icon-ios-arrow-thin-right:before{
    background: url(../images/right-light.png) no-repeat center;
}
.ivu-icon-ios-volume-low:before,.ivu-icon-volume-medium:before{
    content: "";
    height: 18px;
    display: inline-block;
    
}
.ivu-icon-ios-volume-low:before{
    width: 14px;
    background: url(../images/MP3/closevoice.png) no-repeat center;
}
.ivu-icon-volume-medium:before{
    width: 25px;
    background: url(../images/MP3/openvoice.png) no-repeat center;
}
/* message */
.ivu-message-notice-content{
    padding: 0;
    box-shadow: none;
    background-color: transparent;
}
.ivu-message-success,.ivu-message-error,.ivu-message-info{
    padding:8px 40px;
    border-radius: 20px;
}
.ivu-message-success{
    background-color: #e8faf0;
    border:1px solid #d0f2e1;
    color: #1abe6b
}
.ivu-message-error{
    background-color: #fdece8;
    border:1px solid #fcd9cf;
    color: #ff4141
}
.ivu-message-info{
    background-color: #eaf4fe;
    border:1px solid #d5e8fc;
    color: #03a9f4
}

.ivu-form-item {
    margin-bottom: 20px;
}
.ivu-form-item:last-child{
    margin-bottom: 0;
}
.ivu-form-item-error-tip{
    padding-top: 3px
}
.aodiotable .ivu-table-cell{
    overflow: visible;
    position: relative;
}
.aodiotable .ivu-table-body{
    overflow: visible;
}
.playtip,.downloadtip{
    opacity: 0;
    position: absolute;
    top: -25px;
    padding: 5px 6px;
    z-index: 9;
    transition: all ease-in-out .25s;
    transform:translateX(-3px) scale(0);
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(9, 123, 175, .18);
    font-size: 12px;
    color: #333;
    border: 1px solid rgba(3, 169, 244, .76);
    border-radius: 4px;
    line-height: 12px;
}
.playtip{
    left: 15px;
}
.downloadtip{
    right: 12px;
}
.playtip:after,.downloadtip:after{
    content:'';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-right: 1px solid rgba(3, 169, 244, .76);
    border-bottom: 1px solid rgba(3, 169, 244, .76);
    transform:translateX(-50%) rotate(45deg);
    -webkit-transform:translateX(-50%) rotate(45deg);
    position: absolute;
    bottom: -5px;
    left: 50%;
}
.btn1:hover + .playtip{
    opacity: 1;
    transform: scale(1);
}
.btn2:hover + .downloadtip{
    opacity: 1;
    transform: scale(1);
}


/* audio */
.mp3Btn{
    width: 100%;
    height: 48px;
    border-radius: 2px;
    background-color: rgba(166,166,166,.15);
    line-height: 48px;
    vertical-align: middle;
}
.state,.voice{
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin:10px;
    background-color: #03a9f4;
    position: relative;
    vertical-align: middle;
}
.voice{
    background-color: transparent;
}
.mp3Btn span{
    margin: 0 22px 0 14px;
    vertical-align: middle;
}
.state i{
    color: #fff;
    position: absolute;
    left: 10px;
    top: 6px;
}
.voice i{
    position: absolute;
    left: 6px;
    top: 3px;
}
.audioprogress,.voiceprogress{
    vertical-align: middle;
    display: inline-block;
}
.audioprogress .ivu-slider{
    width: 290px;
}
.voiceprogress .ivu-slider{
    width: 120px;
}