     .sidebar {
         /* overflow: hidden; */
         display: block;
         position: absolute;
         width: 230px;
         left: 0;
         top: 0;
         bottom: 0;
         background-color: #232b3e;
         transition: all .2s cubic-bezier(0.13, 0.75, 0.58, 1);
     }
     
     .sidebar .ivu-menu-submenu {
         position: relative;
     }
     
     .sidebar ul.ivu-menu .ivu-menu-item {
         padding: 0;
     }
     
     .sidebar.issmallsidebar .ivu-menu-submenu ul.ivu-menu {
         display: none;
     }
     
     .sidebar.issmallsidebar .ivu-menu-submenu:hover ul.ivu-menu {
         display: block!important;
         position: absolute;
         left: 100%;
         top: 0;
         width: 92px;
     }
     
     .sidebar.issmallsidebar a,
     .sidebar.issmallsidebar .ivu-menu-vertical .ivu-menu-submenu-title {
         padding: 9px 21px;
     }
     
     .sidebar.issmallsidebar .ivu-menu-submenu:hover .ivu-menu-submenu-title,
     .sidebar.issmallsidebar .ivu-menu-submenu:hover .ivu-menu-item {
         background-color: #3b4f72;
     }
     
     .sidebar.issmallsidebar .ivu-menu-submenu:hover .ivu-menu-item a {
         color: #fff;
         background-color: #3b4f72;
     }
     
     .sidebar.issmallsidebar .ivu-menu-submenu:hover .ivu-menu-item a:hover {
         background-color: #415a83;
     }
     
     .sidebar.issmallsidebar .innertext {
         padding: 0;
         text-align: center;
         line-height: 40px;
     }
     
     .sidebar a {
         display: block;
         width: 100%;
         height: 100%;
         padding: 14px 21px;
         cursor: pointer;
     }
     
     .sidebar .innertext {
         padding: 14px 49px;
     }
     
     .sidebar.issmallsidebar {
         width: 56px;
         font-size: 0;
     }
     
     .sidebar.issmallsidebar .layout-text {
         display: none;
     }
     .sidebar.issmallsidebar .ivu-menu-item:hover{
        background-color: #3b4f72;
     }
     .sidebar.issmallsidebar .ivu-menu-item .text{
        display: none;
        color: #fff;
        position: absolute;
        left: 100%;
        top: 0;
        width: 92px;
        text-align: center;
        line-height: 40px;
        background-color: #3b4f72;
     }
     .sidebar.issmallsidebar .ivu-menu-item:hover .text{
        display: block!important;
     }
     .sidebar.issmallsidebar .ivu-menu-item .text:hover{
        background-color: #415a83;
     }
     .issmallsidebar .ivu-icon {
         display: none;
     }
     
     .sidebar.issmallsidebar .menu-item-title-text {
         padding: 14px 6px;
     }
     
     .sidebar .menu-item-title-text {
         display: block;
         width: 100%;
         height: 100%;
         padding: 14px 21px;
         color: #9ea7b4;
     }
     
     .issmallsidebar .ivu-icon {
         display: none;
     }